In [62]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [63]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [64]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [65]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [66]:
# Local Government Area (LGA) Summary: total schools
total_schools = len(school_data_complete_df["school_name"].unique())
total_schools

15

In [67]:
# Local Government Area (LGA) Summary: total students
total_students = school_data_complete_df["student_name"].count()
total_students

39170

In [68]:
# Local Government Area (LGA) Summary: total budget
budget_per_school_df = school_data_complete_df[["school_name", "budget"]]
budget_per_school_df = budget_per_school_df.drop_duplicates()
total_budget = budget_per_school_df["budget"].sum()
total_budget

24649428

In [69]:
# Local Government Area (LGA) Summary: average maths score
average_maths_score = school_data_complete_df["maths_score"].mean()
average_maths_score

70.33819249425581

In [70]:
# Local Government Area (LGA) Summary: average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

69.98013786060761

In [71]:
# Local Government Area (LGA) Summary: % passing maths 
students_passing_maths = school_data_complete_df.loc[(school_data_complete_df["maths_score"] >= 50)]
students_passing_maths = students_passing_maths["maths_score"].count() / total_students * 100
students_passing_maths

86.07863160582077

In [72]:
# Local Government Area (LGA) Summary: % passing reading 
students_passing_reading = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 50)]
students_passing_reading = students_passing_reading["reading_score"].count() / total_students * 100
students_passing_reading

84.42685728874139

In [73]:
# Local Government Area (LGA) Summary: % passing overall
students_passing_overall = school_data_complete_df.loc[(school_data_complete_df["maths_score"] >= 50) & (school_data_complete_df["reading_score"] >= 50)]
students_passing_overall = students_passing_overall["reading_score"].count() / total_students * 100
students_passing_overall

72.80827163645647