In [11]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [12]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [13]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [14]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [15]:
# Local Government Area (LGA) Summary: total schools
total_schools = len(school_data_complete_df["school_name"].unique())
total_schools

15

In [16]:
# Local Government Area (LGA) Summary: total students
total_students = school_data_complete_df["student_name"].count()
total_students

39170

In [17]:
# Local Government Area (LGA) Summary: total budget
budget_per_school_df = school_data_complete_df[["school_name", "budget"]]
budget_per_school_df = budget_per_school_df.drop_duplicates()
total_budget = budget_per_school_df["budget"].sum()
total_budget

24649428

In [18]:
# Local Government Area (LGA) Summary: average maths score