In [214]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [215]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [216]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [217]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [218]:
# School Summary: School Name, Type and Budget
per_school_summary_df = school_data_complete_df[["school_name","type","budget"]]
per_school_summary_df = per_school_summary_df.drop_duplicates()
per_school_summary_df = per_school_summary_df.sort_values("school_name")
per_school_summary_df = per_school_summary_df.set_index("school_name")
per_school_summary_df

                              type   budget
school_name
Bailey High School      Government  3124928
Cabrera High School    Independent  1081356
Figueroa High School    Government  1884411
Ford High School        Government  1763916
Griffin High School    Independent   917500
Hernandez High School   Government  3022020
Holden High School     Independent   248087
Huang High School       Government  1910635
Johnson High School     Government  3094650
Pena High School       Independent   585858
Rodriguez High School   Government  2547363
Shelton High School    Independent  1056600
Thomas High School     Independent  1043130
Wilson High School     Independent  1319574
Wright High School     Independent  1049400

In [219]:
# School Summary: Total students per school
total_students = school_data_complete_df.groupby(["school_name"]).size()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [220]:
# School Summary: Update dataframe with total students
per_school_summary_df["Total Students"] = total_students
per_school_summary_df = per_school_summary_df[["type", "Total Students", "budget"]]
per_school_summary_df = per_school_summary_df.rename(columns={"type" : "School Type",
                                                              "budget" : "Total School Budget"})
per_school_summary_df

                       School Type  Total Students  Total School Budget
school_name
Bailey High School      Government            4976              3124928
Cabrera High School    Independent            1858              1081356
Figueroa High School    Government            2949              1884411
Ford High School        Government            2739              1763916
Griffin High School    Independent            1468               917500
Hernandez High School   Government            4635              3022020
Holden High School     Independent             427               248087
Huang High School       Government            2917              1910635
Johnson High School     Government            4761              3094650
Pena High School       Independent             962               585858
Rodriguez High School   Government            3999              2547363
Shelton High School    Independent            1761              1056600
Thomas High School     Independent            1635              1043130
Wilson High School     Independent            2283              1319574
Wright High School     Independent            1800              1049400

In [221]:
# School Summary: Per student budget 
per_student_budget = per_school_summary_df["Total School Budget"] / per_school_summary_df["Total Students"]
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [224]:
# School Summary: Average maths score
average_maths_score = school_data_complete_df.groupby(["school_name"])["maths_score"].mean()
average_maths_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [225]:
# School Summary: Average reading score
average_reading_score = school_data_complete_df.groupby(["school_name"])["reading_score"].mean()
average_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64